# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Variables de entorno (NUNCA subir credenciales)
.env
.env.local

# Archivos temporales
*.tmp
*.swp


lib/python3.12/site-packages*
__pycache__/
# Ignorar cualquier entorno virtual
venv/
*/venv/
*-env/
*/-env/
